{{ form:contact }}
{{ if success }}
  <header aria-labelledby="page-title">
    <h1 id="page-title" class="space--margin-bottom-l contain-indent">Thank you!</h1>
    <div class="prose prose--flow space--margin-bottom-l">
      <p class="type-lead">I’ll be in touch as soon as humanly possible.</p>
    </div>
  </header>
{{ else }}
  <header aria-labelledby="page-title">
    <h1 id="page-title" class="space--margin-bottom-l contain-indent">{{ title }}</h1>
    <div class="prose prose--flow space--margin-bottom-l">
      <p class="type-lead">{{ introduction }}</p>
    </div>
  </header>
  {{ sections }}
  <section class="section space--margin-top-xxl prose prose--flow">
    {{ if title }}<h2 id="{{ title | slugify }}--title" class="type-section-title">{{ title }}</h2>{{ /if }}
    {{ partial:content }}
  </section>
  {{ /sections }}
  <section class="section space--margin-top-xxl prose prose--flow">
    

    <div class="form contain-flow">

    {{ if errors }}
    <div class="form-errors prose--reverse space--margin-bottom-l">
      <h2 class="h3 space--margin-bottom-s">There’s a problem:</h2>
      <ul class="form-errors__list">
      {{ errors }}
        <li>{{ value }}</li>
      {{ /errors }}
      </ul>
    </div>
    {{ /if }}

      {{ fields }}
        {{ partial src="forms/{type}" }}
      {{ /fields }}

      <input type="text" name="pot-o-gold" class="visually-hidden" />

      <button class="form-button">Send</button>

    </div>
    
  </section>
{{ /if }}
{{ /form:contact }}