<svg viewbox="0 0 1182 1261" xmlns="http://www.w3.org/2000/svg" id="square" aria-hidden="true" display="none">
    <path d="M1182 0v894.601L815.5 1260.8 0 445.3 445.194.106z" fill="#A313D0" fill-rule="evenodd"/>
</svg>

<header class="container">
    {{ partial:navigation classes="reverse" }}
</header>

<section class="container space--margin-bottom-5">
    <main class="grid">
        <h1 class="max-col-span-6 max-col-start-2">Design that works</h1>
        <h2>I make smart things for people’s screens</h2>
    </main>
</section>