<!doctype html>
<html lang="{{ site:short_locale }}" data-scroll="0">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if errors }}Error: {{ /if }}{{ title ?? site:name }} -  Roodesign</title>
        <link rel="stylesheet" href="{{ mix src='css/roodesign.css' }}">
        {{ seo_pro:meta }}
        {{ if environment === 'production' }}
            <script src="https://llama.roodesign.co.uk/script.js" data-site="OOYQAAZS" defer></script>
        {{ /if }}
    </head>
    <body class="no-js template-{{ template | slugify }}">
        <header class="container">
            {{ partial:navigation }}
        </header>
        <main class="container">
            {{ template_content }}
        </main>
        <footer class="container footer {{ if template === 'home' }}footer--reverse{{ /if }}">
            <svg width="32" height="38" xmlns="http://www.w3.org/2000/svg" class="footer-badge">
                <g fill="none" fill-rule="evenodd">
                    <path d="M15.735 8.851L27.993 21.2 15.735 33.549 3.477 21.2 15.735 8.851z" fill="var(--badge-bg)"></path>
                    <path d="M15.735 8.842l4.36-4.39 7.9 7.953-12.26 12.343L3.476 12.405l7.9-7.953 4.36 4.39z" fill="var(--badge-bg)"></path>
                    <path stroke="currentColor" d="M15.735 12.4l8.736 8.8-8.736 8.8L7 21.2z"></path>
                    <path stroke="currentColor" d="M20.095 8l4.376 4.405-8.736 8.795L7 12.405 11.375 8l4.36 4.39z"></path>
                </g>
            </svg>
            <div class="footer-content">
                <p>&copy; Roodesign Limited</p>
                <p>Registered in England and Wales with company number 11770882</p>
            </div>
            <span class="footer-title">Explore this site by subject:</span>
            <ul class="footer-navigation">
                {{ taxonomy:subjects }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {{ /taxonomy:subjects }}
            </ul>
            <span class="footer-title">Find Roodesign elsewhere on the web:</span>
            <ul class="footer-navigation">
                {{ nav:social }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:social }}
            </ul>
        </footer>
        {{# <script src="{{ mix src='/js/site.js' }}"></script> #}}
        <script src="/js/prism.js"></script>
    </body>
</html>