.container {
  max-width: unit((@width-max/@base),rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  display: block;
}

#container {
  .flow() {
    #container.line-length;
    @media @bp[max] {
      #container.indent;
    }
  }
  .line-length() {
    max-width: var(--line-length);
  }
  .indent() {
    #space > .range(margin-left, none, xl);
  }
}