.grid-columns(@fitorfill:fill) {
  grid-template-columns: repeat(~'auto-@{fitorfill}', minmax(unit((270/@base),rem), 1fr));
}

.list {
  list-style: none;
  gap: var(--space-m);

  &:not(.list--grid) &-item {
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-m);
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--c-grey-x-light);
    }
    
  }
}


@media @bp[min] {

  .list--grid {
    display: grid;
    .grid-columns;
  }
  .list--grid-gallery {
    display: grid;
    .grid-columns(fit);
  }
  .list--grid .list-item {
    display: flex;
    >* {
      flex: 1;
    }
  }
}