#space {
  .calc(@space:1) {
      margin-bottom: unit((@gap * @space / @base), rem);
      margin-bottom: ~"calc( var(--gap) * @{space} )";
  }
  .pico() { //1
      @s: (14 / @gap);
      #space > .calc(@s);
  }
  .short() { //2
      #space > .calc();
  }
  .tall() { //3
      #space > .calc(2);
  }
  .alto() { //4
      #space > .calc(3);
  }
  .grande() { //5
      #space > .calc(6)
  }
  
  //new spacing, Oct 2019
  //based on GDS
  //use .space--{type}-{direction}-{amount[1-5]}
  .space(@amount) {
    @result-old: unit((@gap * @amount / @base), rem);
    @result-new: ~"calc( var(--gap) * @{amount})";
  }

  .space-output(@type, @direction, @counter: 1) when (@counter <= @space-limit) {
    .space--@{type}-@{direction}-@{counter} {
      @{type}-@{direction}: #space > .space(@counter)[@result-old];
      @{type}-@{direction}: #space > .space(@counter)[@result-new];
    }
    #space > .space-output(@type, @direction, @counter + 1);
  }

}

#space > .space-output(margin,top);
#space > .space-output(margin,bottom);
#space > .space-output(margin,left);
#space > .space-output(margin,right);

#space > .space-output(padding,top);
#space > .space-output(padding,bottom);
#space > .space-output(padding,left);
#space > .space-output(padding,right);

.space--pico {
    #space > .pico;
}
.space--short {
    #space > .short;
}
.space--tall {
    #space > .tall;
}
.space--alto {
    #space > .alto;
}
.space--grande {
    #space > .grande;
}

.break-max({
    .bleed--start,
    .bleed--end {
        width: ~"calc(100% + @{gap-rem})";
        width: ~"calc(100% + var(--gap))";
    }
    .bleed--start.bleed--end {
        width: ~"calc(100% + (2 * @{gap-rem}))";
        width: ~"calc(100% + (2 * var(--gap)))";
    }
    .bleed--start {
        margin-left: -1 * @gap-rem;
        margin-left: ~"calc(-1 * var(--gap))";
    }
    .bleed--end {
        margin-right: -1 * @gap-rem;
        margin-right: ~"calc(-1 * var(--gap))";
    }
});