div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video,
main {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  cursor: help;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1200;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
  --line-length: 40rem;
  --line-height: 1.5;
  --line-height--loose: 1.75;
  --line-height--tight: 1.1;
  --line-height--supertight: 0.9;
  --c-grey-x-dark: #333333;
  --c-grey-dark: #555555;
  --c-grey-light: #CCCCCC;
  --c-grey-x-light: #F1F1F1;
  --c-purple: #7B05E2;
  --c-pink: #A313D0;
  --c-yellow: #EDBB4A;
  --c-blue: #004ADB;
  --c-pink-light: #F2C9FF;
}
@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --step-0: calc(1.0625rem + (21 - 17) * var(--fluid-bp));
}
:root {
  --step-1: calc(1.275rem + (25.2 - 20.4) * var(--fluid-bp));
}
:root {
  --step-2: calc(1.53rem + (30.24 - 24.48) * var(--fluid-bp));
}
:root {
  --step-3: calc(1.83625rem + (36.29 - 29.38) * var(--fluid-bp));
}
:root {
  --step-4: calc(2.203125rem + (43.55 - 35.25) * var(--fluid-bp));
}
:root {
  --step-5: calc(2.64375rem + (52.25 - 42.3) * var(--fluid-bp));
}
:root {
  --step-6: calc(3.1725rem + (62.71 - 50.76) * var(--fluid-bp));
}
:root {
  --step-7: calc(3.806875rem + (75.25 - 60.91) * var(--fluid-bp));
}
:root {
  --step-8: calc(4.56875rem + (90.3 - 73.1) * var(--fluid-bp));
}
:root {
  --step-9: calc(5.4825rem + (108.36 - 87.72) * var(--fluid-bp));
}
:root {
  --step-10: calc(6.57875rem + (130.03 - 105.26) * var(--fluid-bp));
}
:root {
  --step--1: calc(0.885625rem + (17.5 - 14.17) * var(--fluid-bp));
}
:root {
  --step--2: calc(0.738125rem + (14.58 - 11.81) * var(--fluid-bp));
}
@font-face {
  font-family: 'Debut Sans';
  src: url('/css/fonts/DebutSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Debut Sans';
  src: url('/css/fonts/DebutSans-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Debut Sans';
  src: url('/css/fonts/DebutSans-Black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Debut Sans';
  src: url('/css/fonts/DebutSans-BlackItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Young Serif';
  src: url('/css/fonts/YoungSerif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmmono/v5/aFTU7PB1QTsUX8KYhh0.ttf) format('truetype');
}
body {
  font-size: var(--step-0);
  line-height: var(--line-height);
  font-family: 'Debut Sans', sans-serif;
  font-variant-ligatures: common-ligatures;
}
h1,
h2,
h3,
h4 {
  line-height: var(--line-height--tight);
}
h1,
.h1 {
  font-family: 'Young Serif', serif;
  font-size: calc(2.64375rem + (90.3 - 42.3) * var(--fluid-bp));
}
h2,
.h2 {
  font-size: var(--step-4);
  font-family: 'Young Serif', serif;
}
h3,
.h3 {
  font-size: var(--step-1);
  font-family: 'Debut Sans', sans-serif;
}
h4 {
  font-size: var(--step-0);
  font-family: 'Debut Sans', sans-serif;
}
code {
  font-family: 'DM Mono', monospace;
  font-size: 90%;
}
p code {
  background-color: var(--c-grey-x-light);
  padding: 0.2em;
  margin: -0.2em;
}
pre {
  padding: var(--space-s);
  background-color: var(--c-grey-x-light);
  overflow-x: scroll;
}
hr {
  border: none;
  border-bottom: 1px dashed var(--c-grey-light);
}
.type-lead {
  font-size: var(--step-1);
}
.type-mega {
  font-size: calc(3.1725rem + (187.24 - 50.76) * var(--fluid-bp));
  line-height: var(--line-height--supertight);
}
.type-subtitle {
  font-size: 50%;
  color: var(--c-grey-light);
  font-family: 'Debut Sans', sans-serif;
  display: block;
}
.prose > * + * {
  margin-top: var(--space-s);
}
.prose > * + h2 {
  margin-top: var(--space-xxl);
}
.prose > * + h3,
.prose > * + h4 {
  margin-top: var(--space-l);
}
.prose > h3 + p,
.prose > h4 + p {
  margin-top: var(--space-xs);
}
.prose > h2 + h3,
.prose > h2 + h4 {
  margin-top: var(--space-s);
}
.prose li + li:not(.list-item) {
  margin-top: var(--space-xs);
}
.prose li:not(.list-item) {
  margin-left: 1em;
  padding-left: var(--space-xs);
}
.prose ul > li {
  list-style-image: url(/css/images/bullet.svg);
}
.prose a {
  color: var(--c-blue);
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.prose a:hover {
  text-decoration-thickness: 3px;
}
.prose a:focus {
  outline: 2px solid var(--c-blue);
  text-decoration: none;
}
.prose blockquote:not(.quote) {
  padding-left: 1em;
  border-left: 3px solid var(--c-grey-light);
}
.prose--flow > p,
.prose--flow > ul:not(.list),
.prose--flow > ol,
.prose--flow > table,
.prose--flow > h2,
.prose--flow > h3,
.prose--flow > h4,
.prose--flow > h5,
.prose--flow > h6,
.prose--flow blockquote:not(.quote) {
  max-width: var(--line-length);
}
@media only screen and (min-width: 980px) {
  .prose--flow > p,
  .prose--flow > ul:not(.list),
  .prose--flow > ol,
  .prose--flow > table,
  .prose--flow > h2,
  .prose--flow > h3,
  .prose--flow > h4,
  .prose--flow > h5,
  .prose--flow > h6,
  .prose--flow blockquote:not(.quote) {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
@media only screen and (min-width: 980px) {
  .prose--flow pre {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
.prose--reverse {
  color: white;
}
.prose--reverse a {
  color: white;
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.prose--reverse a:hover {
  text-decoration-thickness: 3px;
}
.prose--reverse a:focus {
  outline: 2px solid white;
  text-decoration: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  display: block;
}
.contain-flow {
  max-width: var(--line-length);
}
@media only screen and (min-width: 980px) {
  .contain-flow {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
.contain-line-length {
  max-width: var(--line-length);
}
@media only screen and (min-width: 980px) {
  .contain-indent {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
footer {
  clear: both;
}
:root {
  --space-xxs: calc(0.265625rem + (5.25 - 4.25) * var(--fluid-bp));
}
.space--margin-top-xxs {
  margin-top: var(--space-xxs);
}
.space--margin-bottom-xxs {
  margin-bottom: var(--space-xxs);
}
.space--margin-left-xxs {
  margin-left: var(--space-xxs);
}
.space--margin-right-xxs {
  margin-right: var(--space-xxs);
}
.space--margin-all-xxs {
  margin: var(--space-xxs);
}
.space--padding-top-xxs {
  padding-top: var(--space-xxs);
}
.space--padding-bottom-xxs {
  padding-bottom: var(--space-xxs);
}
.space--padding-left-xxs {
  padding-left: var(--space-xxs);
}
.space--padding-right-xxs {
  padding-right: var(--space-xxs);
}
.space--padding-all-xxs {
  padding: var(--space-xxs);
}
:root {
  --space-xs: calc(0.53125rem + (10.5 - 8.5) * var(--fluid-bp));
}
.space--margin-top-xs {
  margin-top: var(--space-xs);
}
.space--margin-bottom-xs {
  margin-bottom: var(--space-xs);
}
.space--margin-left-xs {
  margin-left: var(--space-xs);
}
.space--margin-right-xs {
  margin-right: var(--space-xs);
}
.space--margin-all-xs {
  margin: var(--space-xs);
}
.space--padding-top-xs {
  padding-top: var(--space-xs);
}
.space--padding-bottom-xs {
  padding-bottom: var(--space-xs);
}
.space--padding-left-xs {
  padding-left: var(--space-xs);
}
.space--padding-right-xs {
  padding-right: var(--space-xs);
}
.space--padding-all-xs {
  padding: var(--space-xs);
}
:root {
  --space-s: calc(1.0625rem + (21 - 17) * var(--fluid-bp));
}
.space--margin-top-s {
  margin-top: var(--space-s);
}
.space--margin-bottom-s {
  margin-bottom: var(--space-s);
}
.space--margin-left-s {
  margin-left: var(--space-s);
}
.space--margin-right-s {
  margin-right: var(--space-s);
}
.space--margin-all-s {
  margin: var(--space-s);
}
.space--padding-top-s {
  padding-top: var(--space-s);
}
.space--padding-bottom-s {
  padding-bottom: var(--space-s);
}
.space--padding-left-s {
  padding-left: var(--space-s);
}
.space--padding-right-s {
  padding-right: var(--space-s);
}
.space--padding-all-s {
  padding: var(--space-s);
}
:root {
  --space-m: calc(2.125rem + (42 - 34) * var(--fluid-bp));
}
.space--margin-top-m {
  margin-top: var(--space-m);
}
.space--margin-bottom-m {
  margin-bottom: var(--space-m);
}
.space--margin-left-m {
  margin-left: var(--space-m);
}
.space--margin-right-m {
  margin-right: var(--space-m);
}
.space--margin-all-m {
  margin: var(--space-m);
}
.space--padding-top-m {
  padding-top: var(--space-m);
}
.space--padding-bottom-m {
  padding-bottom: var(--space-m);
}
.space--padding-left-m {
  padding-left: var(--space-m);
}
.space--padding-right-m {
  padding-right: var(--space-m);
}
.space--padding-all-m {
  padding: var(--space-m);
}
:root {
  --space-l: calc(3.1875rem + (63 - 51) * var(--fluid-bp));
}
.space--margin-top-l {
  margin-top: var(--space-l);
}
.space--margin-bottom-l {
  margin-bottom: var(--space-l);
}
.space--margin-left-l {
  margin-left: var(--space-l);
}
.space--margin-right-l {
  margin-right: var(--space-l);
}
.space--margin-all-l {
  margin: var(--space-l);
}
.space--padding-top-l {
  padding-top: var(--space-l);
}
.space--padding-bottom-l {
  padding-bottom: var(--space-l);
}
.space--padding-left-l {
  padding-left: var(--space-l);
}
.space--padding-right-l {
  padding-right: var(--space-l);
}
.space--padding-all-l {
  padding: var(--space-l);
}
:root {
  --space-xl: calc(4.25rem + (84 - 68) * var(--fluid-bp));
}
.space--margin-top-xl {
  margin-top: var(--space-xl);
}
.space--margin-bottom-xl {
  margin-bottom: var(--space-xl);
}
.space--margin-left-xl {
  margin-left: var(--space-xl);
}
.space--margin-right-xl {
  margin-right: var(--space-xl);
}
.space--margin-all-xl {
  margin: var(--space-xl);
}
.space--padding-top-xl {
  padding-top: var(--space-xl);
}
.space--padding-bottom-xl {
  padding-bottom: var(--space-xl);
}
.space--padding-left-xl {
  padding-left: var(--space-xl);
}
.space--padding-right-xl {
  padding-right: var(--space-xl);
}
.space--padding-all-xl {
  padding: var(--space-xl);
}
:root {
  --space-xxl: calc(5.3125rem + (105 - 85) * var(--fluid-bp));
}
.space--margin-top-xxl {
  margin-top: var(--space-xxl);
}
.space--margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
}
.space--margin-left-xxl {
  margin-left: var(--space-xxl);
}
.space--margin-right-xxl {
  margin-right: var(--space-xxl);
}
.space--margin-all-xxl {
  margin: var(--space-xxl);
}
.space--padding-top-xxl {
  padding-top: var(--space-xxl);
}
.space--padding-bottom-xxl {
  padding-bottom: var(--space-xxl);
}
.space--padding-left-xxl {
  padding-left: var(--space-xxl);
}
.space--padding-right-xxl {
  padding-right: var(--space-xxl);
}
.space--padding-all-xxl {
  padding: var(--space-xxl);
}
.bleed-left-xxs {
  margin-left: calc(-1 * var(--space-xxs));
  width: calc(100% + var(--space-xxs));
}
.bleed-right-xxs {
  margin-right: calc(-1 * var(--space-xxs));
  width: calc(100% + var(--space-xxs));
}
.bleed-both-xxs {
  margin-left: calc(-1 * var(--space-xxs));
  margin-right: calc(-1 * var(--space-xxs));
  width: calc(100% + (2 * var(--space-xxs)));
}
.bleed-left-xs {
  margin-left: calc(-1 * var(--space-xs));
  width: calc(100% + var(--space-xs));
}
.bleed-right-xs {
  margin-right: calc(-1 * var(--space-xs));
  width: calc(100% + var(--space-xs));
}
.bleed-both-xs {
  margin-left: calc(-1 * var(--space-xs));
  margin-right: calc(-1 * var(--space-xs));
  width: calc(100% + (2 * var(--space-xs)));
}
.bleed-left-s {
  margin-left: calc(-1 * var(--space-s));
  width: calc(100% + var(--space-s));
}
.bleed-right-s {
  margin-right: calc(-1 * var(--space-s));
  width: calc(100% + var(--space-s));
}
.bleed-both-s {
  margin-left: calc(-1 * var(--space-s));
  margin-right: calc(-1 * var(--space-s));
  width: calc(100% + (2 * var(--space-s)));
}
.bleed-left-m {
  margin-left: calc(-1 * var(--space-m));
  width: calc(100% + var(--space-m));
}
.bleed-right-m {
  margin-right: calc(-1 * var(--space-m));
  width: calc(100% + var(--space-m));
}
.bleed-both-m {
  margin-left: calc(-1 * var(--space-m));
  margin-right: calc(-1 * var(--space-m));
  width: calc(100% + (2 * var(--space-m)));
}
.bleed-left-l {
  margin-left: calc(-1 * var(--space-l));
  width: calc(100% + var(--space-l));
}
.bleed-right-l {
  margin-right: calc(-1 * var(--space-l));
  width: calc(100% + var(--space-l));
}
.bleed-both-l {
  margin-left: calc(-1 * var(--space-l));
  margin-right: calc(-1 * var(--space-l));
  width: calc(100% + (2 * var(--space-l)));
}
.bleed-left-xl {
  margin-left: calc(-1 * var(--space-xl));
  width: calc(100% + var(--space-xl));
}
.bleed-right-xl {
  margin-right: calc(-1 * var(--space-xl));
  width: calc(100% + var(--space-xl));
}
.bleed-both-xl {
  margin-left: calc(-1 * var(--space-xl));
  margin-right: calc(-1 * var(--space-xl));
  width: calc(100% + (2 * var(--space-xl)));
}
.bleed-left-xxl {
  margin-left: calc(-1 * var(--space-xxl));
  width: calc(100% + var(--space-xxl));
}
.bleed-right-xxl {
  margin-right: calc(-1 * var(--space-xxl));
  width: calc(100% + var(--space-xxl));
}
.bleed-both-xxl {
  margin-left: calc(-1 * var(--space-xxl));
  margin-right: calc(-1 * var(--space-xxl));
  width: calc(100% + (2 * var(--space-xxl)));
}
@media only screen and (min-width: 520px) {
  .mid-bleed-left-xxs {
    margin-left: calc(-1 * var(--space-xxs));
    width: calc(100% + var(--space-xxs));
  }
  .mid-bleed-right-xxs {
    margin-right: calc(-1 * var(--space-xxs));
    width: calc(100% + var(--space-xxs));
  }
  .mid-bleed-both-xxs {
    margin-left: calc(-1 * var(--space-xxs));
    margin-right: calc(-1 * var(--space-xxs));
    width: calc(100% + (2 * var(--space-xxs)));
  }
  .mid-bleed-left-xs {
    margin-left: calc(-1 * var(--space-xs));
    width: calc(100% + var(--space-xs));
  }
  .mid-bleed-right-xs {
    margin-right: calc(-1 * var(--space-xs));
    width: calc(100% + var(--space-xs));
  }
  .mid-bleed-both-xs {
    margin-left: calc(-1 * var(--space-xs));
    margin-right: calc(-1 * var(--space-xs));
    width: calc(100% + (2 * var(--space-xs)));
  }
  .mid-bleed-left-s {
    margin-left: calc(-1 * var(--space-s));
    width: calc(100% + var(--space-s));
  }
  .mid-bleed-right-s {
    margin-right: calc(-1 * var(--space-s));
    width: calc(100% + var(--space-s));
  }
  .mid-bleed-both-s {
    margin-left: calc(-1 * var(--space-s));
    margin-right: calc(-1 * var(--space-s));
    width: calc(100% + (2 * var(--space-s)));
  }
  .mid-bleed-left-m {
    margin-left: calc(-1 * var(--space-m));
    width: calc(100% + var(--space-m));
  }
  .mid-bleed-right-m {
    margin-right: calc(-1 * var(--space-m));
    width: calc(100% + var(--space-m));
  }
  .mid-bleed-both-m {
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * var(--space-m));
    width: calc(100% + (2 * var(--space-m)));
  }
  .mid-bleed-left-l {
    margin-left: calc(-1 * var(--space-l));
    width: calc(100% + var(--space-l));
  }
  .mid-bleed-right-l {
    margin-right: calc(-1 * var(--space-l));
    width: calc(100% + var(--space-l));
  }
  .mid-bleed-both-l {
    margin-left: calc(-1 * var(--space-l));
    margin-right: calc(-1 * var(--space-l));
    width: calc(100% + (2 * var(--space-l)));
  }
  .mid-bleed-left-xl {
    margin-left: calc(-1 * var(--space-xl));
    width: calc(100% + var(--space-xl));
  }
  .mid-bleed-right-xl {
    margin-right: calc(-1 * var(--space-xl));
    width: calc(100% + var(--space-xl));
  }
  .mid-bleed-both-xl {
    margin-left: calc(-1 * var(--space-xl));
    margin-right: calc(-1 * var(--space-xl));
    width: calc(100% + (2 * var(--space-xl)));
  }
  .mid-bleed-left-xxl {
    margin-left: calc(-1 * var(--space-xxl));
    width: calc(100% + var(--space-xxl));
  }
  .mid-bleed-right-xxl {
    margin-right: calc(-1 * var(--space-xxl));
    width: calc(100% + var(--space-xxl));
  }
  .mid-bleed-both-xxl {
    margin-left: calc(-1 * var(--space-xxl));
    margin-right: calc(-1 * var(--space-xxl));
    width: calc(100% + (2 * var(--space-xxl)));
  }
}
@media only screen and (min-width: 980px) {
  .max-bleed-left-xxs {
    margin-left: calc(-1 * var(--space-xxs));
    width: calc(100% + var(--space-xxs));
  }
  .max-bleed-right-xxs {
    margin-right: calc(-1 * var(--space-xxs));
    width: calc(100% + var(--space-xxs));
  }
  .max-bleed-both-xxs {
    margin-left: calc(-1 * var(--space-xxs));
    margin-right: calc(-1 * var(--space-xxs));
    width: calc(100% + (2 * var(--space-xxs)));
  }
  .max-bleed-left-xs {
    margin-left: calc(-1 * var(--space-xs));
    width: calc(100% + var(--space-xs));
  }
  .max-bleed-right-xs {
    margin-right: calc(-1 * var(--space-xs));
    width: calc(100% + var(--space-xs));
  }
  .max-bleed-both-xs {
    margin-left: calc(-1 * var(--space-xs));
    margin-right: calc(-1 * var(--space-xs));
    width: calc(100% + (2 * var(--space-xs)));
  }
  .max-bleed-left-s {
    margin-left: calc(-1 * var(--space-s));
    width: calc(100% + var(--space-s));
  }
  .max-bleed-right-s {
    margin-right: calc(-1 * var(--space-s));
    width: calc(100% + var(--space-s));
  }
  .max-bleed-both-s {
    margin-left: calc(-1 * var(--space-s));
    margin-right: calc(-1 * var(--space-s));
    width: calc(100% + (2 * var(--space-s)));
  }
  .max-bleed-left-m {
    margin-left: calc(-1 * var(--space-m));
    width: calc(100% + var(--space-m));
  }
  .max-bleed-right-m {
    margin-right: calc(-1 * var(--space-m));
    width: calc(100% + var(--space-m));
  }
  .max-bleed-both-m {
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * var(--space-m));
    width: calc(100% + (2 * var(--space-m)));
  }
  .max-bleed-left-l {
    margin-left: calc(-1 * var(--space-l));
    width: calc(100% + var(--space-l));
  }
  .max-bleed-right-l {
    margin-right: calc(-1 * var(--space-l));
    width: calc(100% + var(--space-l));
  }
  .max-bleed-both-l {
    margin-left: calc(-1 * var(--space-l));
    margin-right: calc(-1 * var(--space-l));
    width: calc(100% + (2 * var(--space-l)));
  }
  .max-bleed-left-xl {
    margin-left: calc(-1 * var(--space-xl));
    width: calc(100% + var(--space-xl));
  }
  .max-bleed-right-xl {
    margin-right: calc(-1 * var(--space-xl));
    width: calc(100% + var(--space-xl));
  }
  .max-bleed-both-xl {
    margin-left: calc(-1 * var(--space-xl));
    margin-right: calc(-1 * var(--space-xl));
    width: calc(100% + (2 * var(--space-xl)));
  }
  .max-bleed-left-xxl {
    margin-left: calc(-1 * var(--space-xxl));
    width: calc(100% + var(--space-xxl));
  }
  .max-bleed-right-xxl {
    margin-right: calc(-1 * var(--space-xxl));
    width: calc(100% + var(--space-xxl));
  }
  .max-bleed-both-xxl {
    margin-left: calc(-1 * var(--space-xxl));
    margin-right: calc(-1 * var(--space-xxl));
    width: calc(100% + (2 * var(--space-xxl)));
  }
}
.list {
  list-style: none;
  gap: var(--space-m);
}
.list:not(.list--grid) .list-item {
  padding-bottom: var(--space-m);
  margin-bottom: var(--space-m);
}
.list:not(.list--grid) .list-item:not(:last-of-type) {
  border-bottom: 1px solid var(--c-grey-x-light);
}
@media only screen and (min-width: 320px) {
  .list--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  }
  .list--grid .list-item {
    display: flex;
  }
  .list--grid .list-item > * {
    flex: 1;
  }
}
.grid {
  display: grid;
  grid-auto-flow: row;
  -moz-column-gap: var(--space-m);
       column-gap: var(--space-m);
  grid-template-columns: repeat(12, 1fr);
}
.grid--space-all {
  row-gap: var(--space-m);
}
.grid > * {
  grid-column: 1 / -1;
}
.grid .col-span-1 {
  grid-column: span 1 / span 1;
}
.grid .col-span-2 {
  grid-column: span 2 / span 2;
}
.grid .col-span-3 {
  grid-column: span 3 / span 3;
}
.grid .col-span-4 {
  grid-column: span 4 / span 4;
}
.grid .col-span-5 {
  grid-column: span 5 / span 5;
}
.grid .col-span-6 {
  grid-column: span 6 / span 6;
}
.grid .col-span-7 {
  grid-column: span 7 / span 7;
}
.grid .col-span-8 {
  grid-column: span 8 / span 8;
}
.grid .col-span-9 {
  grid-column: span 9 / span 9;
}
.grid .col-span-10 {
  grid-column: span 10 / span 10;
}
.grid .col-span-11 {
  grid-column: span 11 / span 11;
}
.grid .col-span-12 {
  grid-column: span 12 / span 12;
}
.grid .col-start-1 {
  grid-column-start: 1;
}
.grid .col-start-2 {
  grid-column-start: 2;
}
.grid .col-start-3 {
  grid-column-start: 3;
}
.grid .col-start-4 {
  grid-column-start: 4;
}
.grid .col-start-5 {
  grid-column-start: 5;
}
.grid .col-start-6 {
  grid-column-start: 6;
}
.grid .col-start-7 {
  grid-column-start: 7;
}
.grid .col-start-8 {
  grid-column-start: 8;
}
.grid .col-start-9 {
  grid-column-start: 9;
}
.grid .col-start-10 {
  grid-column-start: 10;
}
.grid .col-start-11 {
  grid-column-start: 11;
}
.grid .col-start-12 {
  grid-column-start: 12;
}
.grid .align-start {
  justify-self: start;
}
.grid .align-end {
  justify-self: end;
}
.grid .align-center {
  justify-self: center;
}
@media only screen and (min-width: 320px) {
  .min-col-span-1 {
    grid-column: span 1 / span 1;
  }
  .min-col-span-2 {
    grid-column: span 2 / span 2;
  }
  .min-col-span-3 {
    grid-column: span 3 / span 3;
  }
  .min-col-span-4 {
    grid-column: span 4 / span 4;
  }
  .min-col-span-5 {
    grid-column: span 5 / span 5;
  }
  .min-col-span-6 {
    grid-column: span 6 / span 6;
  }
  .min-col-span-7 {
    grid-column: span 7 / span 7;
  }
  .min-col-span-8 {
    grid-column: span 8 / span 8;
  }
  .min-col-span-9 {
    grid-column: span 9 / span 9;
  }
  .min-col-span-10 {
    grid-column: span 10 / span 10;
  }
  .min-col-span-11 {
    grid-column: span 11 / span 11;
  }
  .min-col-span-12 {
    grid-column: span 12 / span 12;
  }
  .min-col-start-1 {
    grid-column-start: 1;
  }
  .min-col-start-2 {
    grid-column-start: 2;
  }
  .min-col-start-3 {
    grid-column-start: 3;
  }
  .min-col-start-4 {
    grid-column-start: 4;
  }
  .min-col-start-5 {
    grid-column-start: 5;
  }
  .min-col-start-6 {
    grid-column-start: 6;
  }
  .min-col-start-7 {
    grid-column-start: 7;
  }
  .min-col-start-8 {
    grid-column-start: 8;
  }
  .min-col-start-9 {
    grid-column-start: 9;
  }
  .min-col-start-10 {
    grid-column-start: 10;
  }
  .min-col-start-11 {
    grid-column-start: 11;
  }
  .min-col-start-12 {
    grid-column-start: 12;
  }
  .min-align-start {
    justify-self: start;
  }
  .min-align-end {
    justify-self: end;
  }
  .min-align-center {
    justify-self: center;
  }
}
@media only screen and (min-width: 520px) {
  .mid-col-span-1 {
    grid-column: span 1 / span 1;
  }
  .mid-col-span-2 {
    grid-column: span 2 / span 2;
  }
  .mid-col-span-3 {
    grid-column: span 3 / span 3;
  }
  .mid-col-span-4 {
    grid-column: span 4 / span 4;
  }
  .mid-col-span-5 {
    grid-column: span 5 / span 5;
  }
  .mid-col-span-6 {
    grid-column: span 6 / span 6;
  }
  .mid-col-span-7 {
    grid-column: span 7 / span 7;
  }
  .mid-col-span-8 {
    grid-column: span 8 / span 8;
  }
  .mid-col-span-9 {
    grid-column: span 9 / span 9;
  }
  .mid-col-span-10 {
    grid-column: span 10 / span 10;
  }
  .mid-col-span-11 {
    grid-column: span 11 / span 11;
  }
  .mid-col-span-12 {
    grid-column: span 12 / span 12;
  }
  .mid-col-start-1 {
    grid-column-start: 1;
  }
  .mid-col-start-2 {
    grid-column-start: 2;
  }
  .mid-col-start-3 {
    grid-column-start: 3;
  }
  .mid-col-start-4 {
    grid-column-start: 4;
  }
  .mid-col-start-5 {
    grid-column-start: 5;
  }
  .mid-col-start-6 {
    grid-column-start: 6;
  }
  .mid-col-start-7 {
    grid-column-start: 7;
  }
  .mid-col-start-8 {
    grid-column-start: 8;
  }
  .mid-col-start-9 {
    grid-column-start: 9;
  }
  .mid-col-start-10 {
    grid-column-start: 10;
  }
  .mid-col-start-11 {
    grid-column-start: 11;
  }
  .mid-col-start-12 {
    grid-column-start: 12;
  }
  .mid-align-start {
    justify-self: start;
  }
  .mid-align-end {
    justify-self: end;
  }
  .mid-align-center {
    justify-self: center;
  }
}
@media only screen and (min-width: 980px) {
  .max-col-span-1 {
    grid-column: span 1 / span 1;
  }
  .max-col-span-2 {
    grid-column: span 2 / span 2;
  }
  .max-col-span-3 {
    grid-column: span 3 / span 3;
  }
  .max-col-span-4 {
    grid-column: span 4 / span 4;
  }
  .max-col-span-5 {
    grid-column: span 5 / span 5;
  }
  .max-col-span-6 {
    grid-column: span 6 / span 6;
  }
  .max-col-span-7 {
    grid-column: span 7 / span 7;
  }
  .max-col-span-8 {
    grid-column: span 8 / span 8;
  }
  .max-col-span-9 {
    grid-column: span 9 / span 9;
  }
  .max-col-span-10 {
    grid-column: span 10 / span 10;
  }
  .max-col-span-11 {
    grid-column: span 11 / span 11;
  }
  .max-col-span-12 {
    grid-column: span 12 / span 12;
  }
  .max-col-start-1 {
    grid-column-start: 1;
  }
  .max-col-start-2 {
    grid-column-start: 2;
  }
  .max-col-start-3 {
    grid-column-start: 3;
  }
  .max-col-start-4 {
    grid-column-start: 4;
  }
  .max-col-start-5 {
    grid-column-start: 5;
  }
  .max-col-start-6 {
    grid-column-start: 6;
  }
  .max-col-start-7 {
    grid-column-start: 7;
  }
  .max-col-start-8 {
    grid-column-start: 8;
  }
  .max-col-start-9 {
    grid-column-start: 9;
  }
  .max-col-start-10 {
    grid-column-start: 10;
  }
  .max-col-start-11 {
    grid-column-start: 11;
  }
  .max-col-start-12 {
    grid-column-start: 12;
  }
  .max-align-start {
    justify-self: start;
  }
  .max-align-end {
    justify-self: end;
  }
  .max-align-center {
    justify-self: center;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-m);
  margin-bottom: calc(2.125rem + (84 - 34) * var(--fluid-bp));
}
.navigation li {
  list-style: none;
  margin-bottom: var(--space-xxs);
}
.navigation a {
  color: black;
  text-decoration: underline;
  margin: calc(-1 * var(--space-xxs));
  padding: var(--space-xxs);
}
.navigation a:hover {
  text-decoration-thickness: 3px;
}
.navigation a:focus {
  outline: 2px solid var(--c-grey-light);
  text-decoration: none;
}
.navigation__logo {
  display: flex;
  align-items: center;
}
.navigation__logo-text {
  margin-left: var(--space-xs);
  font-family: 'Young Serif', serif;
}
.navigation .active {
  font-weight: bold;
  text-decoration: none;
}
.navigation__items {
  text-align: right;
}
.navigation--reverse a {
  color: white;
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.navigation--reverse a:hover {
  text-decoration-thickness: 3px;
}
.navigation--reverse a:focus {
  outline: 2px solid white;
  text-decoration: none;
}
@media only screen and (min-width: 520px) {
  .navigation {
    align-items: center;
  }
  .navigation__items {
    display: flex;
    justify-content: space-between;
  }
  .navigation__items li {
    margin-left: var(--space-s);
    margin-bottom: 0;
  }
}
.footer {
  --badge-bg: white;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
  position: relative;
}
.footer-badge {
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -18px;
  background-color: var(--purple);
}
.footer-content {
  padding-top: var(--space-s);
  border-top: 1px solid;
  margin-bottom: var(--space-s);
}
.footer-navigation {
  display: block;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-s);
}
.footer-navigation li {
  margin-right: var(--space-s);
  list-style: none;
}
.footer a {
  color: black;
  text-decoration: underline;
  margin: calc(-1 * var(--space-xxs));
  padding: var(--space-xxs);
}
.footer a:hover {
  text-decoration-thickness: 3px;
}
.footer a:focus {
  outline: 2px solid var(--c-grey-light);
  text-decoration: none;
}
.footer--reverse {
  --badge-bg: var(--c-purple);
}
.footer--reverse a {
  color: white;
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.footer--reverse a:hover {
  text-decoration-thickness: 3px;
}
.footer--reverse a:focus {
  outline: 2px solid white;
  text-decoration: none;
}
.gallery-images img {
  max-width: 100%;
  display: block;
}
.gallery-single-image img {
  max-width: 100%;
  display: block;
}
.gallery-caption {
  font-size: var(--step--1);
  color: var(--c-grey-x-dark);
  margin-top: var(--space-xs);
}
.gallery--shadow img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery--stage .gallery-images {
  padding: var(--space-m);
  background: #222 url('/css/images/pattern-roo-white-10.svg') top left repeat;
}
.gallery--text,
.gallery--full .gallery-caption {
  max-width: var(--line-length);
}
@media only screen and (min-width: 980px) {
  .gallery--text,
  .gallery--full .gallery-caption {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
@media only screen and (min-width: 750px) {
  .gallery--right {
    float: right;
    max-width: 20rem;
    margin-left: var(--space-m);
  }
  .gallery--left {
    float: left;
    max-width: 20rem;
    margin-right: var(--space-m);
  }
}
.quote-content {
  font-size: var(--step-2);
  font-family: 'Young Serif', serif;
}
.quote-content:before {
  content: "\201C";
}
.quote-content:after {
  content: "\201D";
}
.quote-cite {
  font-size: var(--step--1);
  font-style: normal;
  max-width: var(--line-length);
  color: var(--c-grey-x-dark);
}
@media only screen and (min-width: 980px) {
  .quote-cite {
    margin-left: calc(0rem + (84 - 0) * var(--fluid-bp));
  }
}
.card {
  overflow: hidden;
  transition-property: margin, padding;
  transition-duration: 0.25s;
  position: relative;
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-cover {
  width: calc(100% + (2 * var(--step-0)));
  margin: calc(-1 * var(--step-0));
  margin-bottom: 0;
  background-size: cover;
  background-position: top center;
  background-color: var(--c-pink);
  background-blend-mode: soft-light;
  background-image: var(--cover);
  min-height: 40vh;
  display: flex;
  align-items: flex-end;
}
.card-cover a {
  color: white;
  text-decoration: none;
}
.card-cover a:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.card-cover a:focus:before {
  box-shadow: inset 0 0 0 2px white, inset 0 0 0 6px var(--c-pink);
}
.card-title {
  margin: calc(2 * var(--step-0));
  margin-bottom: var(--step-0);
  font-family: 'Debut Sans', sans-serif;
  font-size: var(--step-3);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.card:hover {
  margin: calc(-1 * var(--step-0));
  padding: var(--step-0);
}
.card-content {
  padding: var(--step-0);
}
.summary {
  display: grid;
  gap: var(--space-m);
  row-gap: var(--space-xxs);
}
.summary-title {
  font-family: 'Debut Sans', sans-serif;
  font-size: var(--step-1);
}
.summary-link {
  color: var(--c-blue);
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.summary-link:hover {
  text-decoration-thickness: 3px;
}
.summary-link:focus {
  outline: 2px solid var(--c-blue);
  text-decoration: none;
}
.summary-date,
.summary-type {
  color: var(--c-grey-dark);
}
.summary-type {
  display: block;
}
.summary-type a {
  color: var(--c-grey-dark);
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.summary-type a:hover {
  text-decoration-thickness: 3px;
}
.summary-type a:focus {
  outline: 2px solid var(--c-grey-dark);
  text-decoration: none;
}
.summary-content {
  max-width: var(--line-length);
}
@media only screen and (min-width: 650px) {
  .summary {
    grid-template-areas: "date title" "date content";
    grid-template-columns: 20% 1fr;
    grid-auto-rows: auto;
  }
  .summary-header {
    grid-area: title;
  }
  .summary-footer {
    grid-area: date;
  }
  .summary-content {
    grid-area: content;
  }
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: hsla(0, 0%, 100%, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function,
.token.class-name {
  color: #DD4A68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.meta {
  color: var(--c-grey-dark);
  font-size: var(--step--1);
  display: flex;
  flex-wrap: wrap;
}
.meta dt {
  font-weight: bold;
}
.meta a {
  color: var(--c-grey-dark);
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.meta a:hover {
  text-decoration-thickness: 3px;
}
.meta a:focus {
  outline: 2px solid var(--c-grey-dark);
  text-decoration: none;
}
.meta-item:not(:last-child) {
  margin-right: var(--space-m);
  margin-bottom: var(--space-s);
}
@media only screen and (min-width: 980px) {
  .meta {
    display: block;
    float: right;
    margin-left: var(--space-m);
    max-width: 13.75rem;
  }
  .meta-item:not(:last-child) {
    margin-right: 0;
  }
}
.outcomes-footer {
  background-color: var(--c-grey-x-light);
  padding: var(--space-xs) var(--space-s);
  margin: calc(-1 * var(--space-s));
  margin-top: var(--space-m);
  font-size: var(--step--1);
}
.outcomes-footer > * {
  max-width: var(--line-length);
}
.button {
  border: 1px solid;
  padding: var(--space-m);
  display: inline-block;
  color: var(--c-blue);
  text-decoration: underline;
  padding: var(--space-xxs);
  margin: calc(-1 * var(--space-xxs));
}
.button:hover {
  text-decoration-thickness: 3px;
}
.button:focus {
  outline: 2px solid var(--c-blue);
  text-decoration: none;
}
.template-home {
  background-color: var(--c-purple);
}
.template-home,
.template-home a {
  color: white;
}
