<h1>{{ title }}</h1>
{{ sections }}
  <section class="grid" id="{{ title | slugify }}" aria-labelledby="{{ title | slugify}}--title">
    <h2 id="{{ title | slugify }}--title" class="mid-col-start-2 mid-col-span-6">{{ title }}</h2>
    {{ content }}

      {{ if type === "text" }}
        {{ variable:classes value="mid-col-start-2 mid-col-span-6" }}
      {{ else }}
        {{ variable:classes value="mid-col-start-1 mid-col-span-10" }}  
      {{ /if }}

      {{ partial src="sets/{type}" classes="{variable:classes}" }}
    {{ /content }}
  </section> 
{{ /sections }}