<header aria-labelledby="page-title">
  <h1 id="page-title" class="space--margin-bottom-s">{{ title }}</h1>
  <div class="prose space--margin-bottom-l">
    <p class="type-lead">{{ introduction }}</p>
  </div>
  <dl class="meta space--margin-bottom-l">
    <div class="meta-item">
      <dt>Start date</dt>
      <dd>{{ date format="F Y" }}</dd>
    </div>
    <div class="meta-item">
      <dt>Project length</dt>
      <dd>{{ project_length }}</dd>
    </div>
    <div class="meta-item">
      <dt>Tags</dt>
      <dd>{{ tags }}#<a href="{{ url }}">{{ title }}</a>{{ if not last }}, {{ /if }}{{ /tags }}</dd>
    </div>
  </dl> 
</header>
<section class="space--margin-top--xxl prose prose--flow">
  {{ sections }}
  <h2 id="{{ title | slugify }}--title" class="type-section-title">{{ title }}</h2>
  {{ partial:content }}
{{ /sections }}
</section>
