<header aria-labelledby="page-title">
  <h1 id="page-title">{{ title }}</h1>
  <div class="prose prose--flow space--margin-bottom-l space--margin-top-l">
    <dl class="meta">
      <div class="meta-item">
        <dt>Date</dt>
        <dd>{{ date }}</dd>
      </div>
      <div class="meta-item">
        <dt>Project length</dt>
        <dd>{{ project_length }}</dd>
      </div>
      <div class="meta-item">
        <dt>Tags</dt>
        <dd></dd>
      </div>
    </dl>
    <p class="type-lead">{{ introduction }}</p>
  </div> 
</header>
<section class="space--margin-top--xxl prose prose--flow">
  {{ sections }}
  <h2 id="{{ title | slugify }}--title" class="type-section-title">{{ title }}</h2>
  {{ content }}
    {{# spacing for components in this context #}}
    {{ variable:classes value=" " }}
    {{ if (type === 'images' && layout != 'right') || type == 'quote' }}
      {{ variable:classes value="space--margin-top-l" }}
    {{ /if }}
      {{ partial src="sets/{type}" classes="{variable:classes}" }}
  {{ /content }}
{{ /sections }}
</section>
