<div class="form-group {{ if error }}form-group--error{{ /if }}">
  <label class="form-label" for="{{ handle }}">{{ display | smartypants }}</label>
  {{ if instructions }}
  <div class="form-hint" id="{{ handle }}-hint">{{ instructions | smartypants }}</div>
  {{ /if }}
  {{ if error }}
  <span id="{{ handle }}-error" class="form-error-message">
    <span class="visually-hidden">Error:</span> {{ error }}
  </span>
  {{ /if }}
  <input type="text" name="{{ handle }}" id="{{ handle }}" class="form-input {{ if error }}form-input--error{{ /if }}" {{ if instructions }}aria-describedby="{{ handle }}-hint"{{ /if }} value="{{ old }}">
</div>