<figure class="gallery {{ classes }} {{ style }}gallery--{{ value }} {{ /style }} gallery--{{ layout }}">
  
  <div class="{{ if assets | length > 1 }}gallery-images list list--grid-gallery{{ else }}gallery-single-image{{ /if }} {{ if layout === 'right'}}max-bleed-left-s{{ /if }} {{ if layout === 'text'}}max-bleed-right-xl{{ /if }}">
  {{ assets }}
    <img src="{{ url }}" alt="{{ alt }}">
  {{ /assets }}
  </div>

  {{ if caption }}
  <figcaption class="gallery-caption">{{ caption | smartypants }}</figcaption>
  {{ /if }}
</figure>