@width-min: 320;
@width-max: 1200;
@base: 16;

//type sizes - see: https://utopia.fyi/
@type-min-scale: 1.2;
@type-min-size: 19;
@type-max-scale: 1.333;
@type-max-size: 21;
@typescale-up-steps: 10;
@typescale-down-steps: 2;

//paths
@path-fonts: '/css/fonts/';


:root {
  --fluid-min-width: @width-min;
  --fluid-max-width: @width-max;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / @base * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: unit(@width-max, px)) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}