//global base
@base: 16;
@fontbase: 18;

//layout sizing:
@gap: 20;
@gap-rem: unit((@gap/@base),rem);

//space limit (how many spacing util classes to build)
@space-limit: 5;

//site sizing:
@site-width: 1200;
@break-max-rem: unit((@site-width/@base),rem);

@break-min: 680;
@break-min-rem: unit((@break-min/@base),rem);
@break-mid: 900;
@break-mid-rem: unit((@break-mid/@base),rem);

//paths
@img_path: '/assets/images/css/';
@font_path: '/assets/fonts/';

//colours
@c_grey_light: #EFEFEF;
@c_grey_med: #cfcfcf;
@c_grey_dark: #505050;
@c_grey_x-dark: #222;

@c_green: #71CBAF;
@c_green_light: #F0FAF7;

@c_blue: #004ADB;
@c_blue_light: #D7E2F9;

@c_red: #E97055;
@c_red_light: #F6DFDA;

@c_yellow: #EDBB4A;
@c_yellow_light: #FFEFCB;

@c_purple: #7B05E2;
@c_purple_light: lighten(@c_purple,30%);

:root {
    --gap: unit((15/@base),rem);
    --base: @base;
    --fontbase: 15;
}

.break-min({
    :root {
        --gap: @gap-rem;
        --fontbase: @fontbase;
    }
});