//typescales
#type {
    .make-typescale-up(@counter: 0) when (@counter <= @typescale-up-steps) {
        @min: round(pow(@type-min-scale, @counter) * @type-min-size, 2);
        @max: round(pow(@type-max-scale, @counter) * @type-max-size, 2);
        :root {
            --step-@{counter}: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
        }
        #type > .make-typescale-up(@counter + 1); 
    }
    .make-typescale-down(@counter: 1) when (@counter <= @typescale-down-steps) {
        @min: round((@type-min-size / pow(@type-min-scale, @counter)), 2);
        @max: round((@type-max-size / pow(@type-max-scale, @counter)), 2);
        :root {
            --step--@{counter}: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
        }
        #type > .make-typescale-down(@counter + 1);  
    }
    .sizes(@min, @max) {
        font-size: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
    }
    .steps(@minstep, @maxstep) {
        @min: round(pow(@type-min-scale, @minstep) * @type-min-size, 2);
        @max: round(pow(@type-max-scale, @maxstep) * @type-max-size, 2);
        font-size: calc((unit((@min/@base), rem)) + (@max - @min) *var(--fluid-bp));
    }
}
#type > .make-typescale-up;
#type > .make-typescale-down;

#type {
    .style() {
        .link(@color: var(--c-blue), @focus: var(--c-blue)) {
            color: @color;
            text-decoration: underline;
            padding: var(--space-xxs);
            margin: calc(-1 * var(--space-xxs));
            &:hover {
                text-decoration-thickness: 3px;
            }
            &:focus {
                outline: 2px solid @focus;
                text-decoration: none;
            }
        }
    }
    .family() {
        .sans() {
            font-family: 'Debut Sans', sans-serif;
        }
        .serif() {
            font-family: 'Young Serif', serif;
        }
        .mono() {
            font-family: 'DM Mono', monospace;
        }
    }
}


//font files
@font-face{
    font-family: 'Debut Sans'; 
    src: url('@{path-fonts}DebutSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Debut Sans'; 
    src: url('@{path-fonts}DebutSans-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Debut Sans'; 
    src: url('@{path-fonts}DebutSans-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Debut Sans'; 
    src: url('@{path-fonts}DebutSans-BlackItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face{
    font-family: 'Young Serif'; 
    src: url('@{path-fonts}YoungSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

//global typographic settings

body{
    font-size: var(--step-0);
    line-height: var(--line-height);
    #type.family.sans;
    font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4 {
    line-height: var(--line-height--tight);
}

h1, .h1 {
    #type.family.serif;
    #type > .steps(5, 8);
}

h2 {
    font-size: var(--step-4);
    #type.family.serif;
}

h3 {
    font-size: var(--step-1);
}

h4 {
    font-size: var(--step-0);    
}

code {
    #type.family.mono;
    font-size: 90%;
}

p code {
    background-color: var(--c-grey-x-light);
    padding: 0.2em;
    margin: -0.2em;
}

pre {
    padding: var(--space-s);
    background-color: var(--c-grey-x-light);
    overflow-x: scroll;
}

hr {
    border: none;
    border-bottom: 1px dashed var(--c-grey-light);
}


//type helper classes

.type {
    &-lead {
        font-size: var(--step-1);
    }
    &-mega {
        #type.steps(8, 12);
    }
}

//prose
.prose {
    >*+*{
        margin-top: var(--space-s);
    }

    >*+h2 {
        margin-top: var(--space-xxl);
    }

    >*+h3,
    >*+h4 {
        margin-top: var(--space-l);
    }
    >h3+p,
    >h4+p {
        margin-top: var(--space-xs);
    }

    li+li {
        margin-top: var(--space-xs);
    }

    li {
        margin-left: 1em;
        padding-left: var(--space-xs);
    }

    ul > li {
        list-style-image: ~"url(@{path-images}bullet.svg)";
    }

    a {
        #type.style.link;
    }

    blockquote:not(.quote) {
        padding-left: 1em;
        border-left: 3px solid var(--c-grey-light);
    }

    //autolayout
    &--flow {
        >p,
        >ul:not(.list),
        >ol,
        >table,
        >h2,>h3,>h4,>h5,>h6,
        blockquote:not(.quote) {
            #container.flow;
        }
        pre {
            #container.indent;
        }
    }

    &--reverse {
        color: white;
        a {
            #type.style.link(white,white); 
        }
    }

}