@import '_settings';
@import '_reset';
@import '_typography';
@import '_util';

//layout
@import 'layout/grid';
@import 'layout/spacing';
@import 'layout/containers';

//components
@import 'components/navigation';
@import 'components/footer';
@import 'components/card';

//special cases for pages
@import 'pages/home';



//move this?
.break-min(@rule) {
  @media screen and (min-width: (@break-min-rem) ) {
    @rule();
  }
}
.break-mid(@rule) {
  @media screen and (min-width: (@break-mid-rem) ) {
    @rule();
  }
}
.break-max(@rule) {
  @media screen and (min-width: (@break-max-rem) ) {
    @rule();
  }
}

body {
  margin: unit((@gap/@base),rem) 0;
  margin: var(--gap) 0;
}
body:before {
  content: "bp: none";
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  .break-min({ content: "bp min"; });
  .break-mid({ content: "bp mid"; });
  .break-max({ content: "bp max"; });
}

body.template-default {
  background-image: 
      linear-gradient(0deg, white 0%, white 40%, fade(white,50%) 41%, fade(white,0%) 100%),
      url('@{img_path}pattern-roo-black-10.svg');
  background-position:  
      bottom left,
      top left;
  background-repeat: 
      no-repeat,
      repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
