.card {
  overflow: hidden;
  transition-property: margin, padding;
  transition-duration: 0.25s;
  position: relative; 
  background-color: white;
  color: black;
  box-shadow: 0 0 20px fade(black,10%);

  &-cover {
    width: calc(100% + (2 * var(--step-0)));
    margin: calc(-1 * var(--step-0));
    margin-bottom: 0;
    background-size: cover;
    background-position: top center;
    background-color: var(--c-pink);
    background-blend-mode: soft-light;
    background-image: var(--cover);
    min-height: 40vh;

    display: flex;
    align-items: flex-end;

    a {
      color: white;
      text-decoration: none;
      &:before {
        content: "";
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }
      &:focus:before {
        box-shadow: inset 0 0 0 2px white, inset 0 0 0 6px var(--c-pink);
      }
    }
  }

  &-title {
    margin: calc(2 * var(--step-0));
    margin-bottom: var(--step-0);
    #type.family.sans;
    font-size: var(--step-3);
    color: white;
    text-shadow: 0 1px 0 fade(black,90%);
    font-weight: bold;
  }

  &:hover {
    margin: calc(-1 * var(--step-0));
    padding: var(--step-0);
  }

  &-content {
    padding: var(--step-0);
  }

}