.form {
  &-group {
    margin-bottom: var(--space-m);
  }
  &-label,
  &-hint,
  &-input {
    display: block;
  }
  &-hint {
    font-size: var(--step--1);
    color: var(--c-grey-dark);
  }
  &-input {
    #type.family.sans;
    font-size: var(--step-0);
    border: 2px solid var(--c-grey-x-dark);
    box-sizing: border-box;
    padding: var(--space-xxs);
    width: 100%;
    margin-top: var(--space-xs);
  }
}