.gallery {

  &-images {
    img {
      max-width: 100%;
      display: block;
    }
  }

  &-single-image {
    img {
      max-width: 100%;
      display: block;
    }
  }

  &-caption {
    font-size: var(--step--1);
    color: var(--c-grey-x-dark);
    margin-top: var(--space-xs);
  }


  //styles
  &--shadow {
    img {
      box-shadow: 0 0 10px fade(black, 20%);
    }
  }

  &--stage &-images {
    padding: var(--space-s);
    background: #222; //url('@{path-images}pattern-roo-white-10.svg') top left repeat";
  }

  &--text,
  &--full &-caption {
    #container.flow;
  }


}

@media only screen and (min-width: 750px) {
  .gallery {
    &--right {
      float: right;
      max-width: 25rem;
      margin-left: var(--space-m);
      clear: both;
    }
    &--left {
      float: left;
      max-width: 25rem;
      margin-right: var(--space-m);
      clear: both;
    }
  }
}