.navigation {

    li {
        list-style: none;
        #type > #size > .regular;
    }

    a {
        text-decoration: none;
        color: @c_grey_x-dark;
        &:focus {
            outline: 3px solid @c_yellow;
        }
        .reverse& {
            color: white;
        }
    }

    .active {
        font-weight: bold;
        position: relative;
        text-shadow: 2px 0 0 white;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 8px;
            width: 100%;
            background: @c_yellow;
            z-index: -1;
        }
        
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        #space > .call;
        &-text {
            #type > #font > .serif;
            font-size: unit((27/@base),rem);
            letter-spacing: -0.4;
            margin-left: unit((10/@base),rem);
        }
    }

}

.break-min({
    .navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;

        li {
            margin-left: unit((@gap-rem/@base),rem);
            margin-left: var(--gap);
        }

        &__logo {
            margin-bottom: 0;    
        }
    }
});