.outcomes {

  &-footer {
    background-color: var(--c-grey-x-light);
    padding: var(--space-xs) var(--space-s);
    margin-top: var(--space-m);
    font-size: var(--step--1);
    >* {#container.line-length;}
  }

}