.summary {
  display: grid;
  gap: var(--space-m);
  row-gap: var(--space-xxs);

  &-title {
    #type.family.sans;
    font-size: var(--step-1);
  }

  &-link {
    #type.style.link;
  }

  &-date,
  &-type {
    color: var(--c-grey-dark);
  }

  &-type {
    display: block;
    a {
      #type.style.link(var(--c-grey-dark), var(--c-grey-dark));
    }
  }

  &-content {
    #container.line-length;
  }

}

@media only screen and (min-width: 650px) {
  .summary {
    grid-template-areas: 
      "date title"
      "date content";
    grid-template-columns: 20% 1fr;
    grid-auto-rows: auto;
    &-header {
      grid-area: title;
    }
    &-footer {
      grid-area: date;
    }
    &-content {
      grid-area: content;
    }
  }

  
}