<header aria-labelledby="page-title">
  <h1 id="page-title" class="space--margin-bottom-s contain-indent">{{ title }}</h1>
  <div class="prose space--margin-bottom-l prose--flow">
    <p class="type-lead">{{ introduction }}</p>
  </div>
  <dl class="meta space--margin-bottom-l">
    <div class="meta-item">
      <dt>Date</dt>
      <dd>{{ date format="d F Y" }}</dd>
    </div>
    {{ if subjects }}
    <div class="meta-item">
      <dt>Subjects</dt>
      <dd>{{ subjects }}#<a href="/subjects/{{ slug }}">{{ title }}</a>{{ if not last }}, {{ /if }}{{ /subjects }}</dd>
    </div>
    {{ /if }}
  </dl>
</header>
<section class="prose prose--flow space--margin-bottom-xxl">
  {{ partial:content }}
</section>
<hr class="space--margin-bottom-m">
<h2 class="space--margin-bottom-m">You may also like</h2>
<ul class="list list--grid">
  {{ collection:articles sort="random" limit="3" :id:not="id" }}
  <li class="list-item">
    {{ partial:card }}
  </li>
  {{ /collection:articles }}
</ul>