<header aria-labelledby="page-title">
  <h1 id="page-title" class="space--margin-bottom-s">{{ title }}</h1>
  <div class="prose space--margin-bottom-l">
    <p class="type-lead">{{ introduction }}</p>
  </div>
  <dl class="meta space--margin-bottom-l">
    <div class="meta-item">
      <dt>Date</dt>
      <dd>{{ date format="d F Y" }}</dd>
    </div>
    {{ if tags }}
    <div class="meta-item">
      <dt>Tags</dt>
      <dd>{{ tags }}#<a href="{{ url }}">{{ title }}</a>{{ if not last }}, {{ /if }}{{ /tags }}</dd>
    </div>
    {{ /if }}
  </dl>
</header>
<section class="prose prose--flow space--margin-bottom-xxl">
{{ content }}
  {{# spacing for components in this context #}}
  {{ variable:classes value=" " }}
  {{ if (type === 'images' && layout != 'right') || type == 'quote' }}
    {{ variable:classes value="space--margin-top-m" }}
  {{ /if }}
    {{ partial src="sets/{type}" classes="{variable:classes}" }}
{{ /content }}
</section>
<hr class="space--margin-bottom-m">
<h2 class="space--margin-bottom-m">You may also like</h2>
<ul class="list list--grid">
  {{ collection:articles sort="random" limit="3" :id:not="id" }}
  <li class="list-item">
    {{ partial:card }}
  </li>
  {{ /collection:articles }}
</ul>